.about_container {
	padding: 75px 30px 10px 30px;
	margin: 0;
	color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about_container .avatar {
	height: 350px;
	width: 350px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	margin-top: 20px;
	border: 2px solid transparent; /* Start with a transparent border */
	border-radius: 10px;
	/* perspective: 1000px; Perspective for 3D effect */
	animation: pulsate 1.5s infinite; /* Apply the pulsate animation */
}

@keyframes pulsate {
	0% {
		border-color: transparent; /* Initially transparent */
		box-shadow: none; /* No box shadow */
	}
	50% {
		border-color: #f75c7e; /* Color at midpoint of animation */
		box-shadow: 0 0 24px #f75c7e; /* Pulsating glow effect */
	}
	100% {
		border-color: transparent; /* Back to transparent */
		box-shadow: none; /* No box shadow */
	}
}

.about_container .avatar img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.4) translateY(-7%);
	transition: all 0.8s ease;
}

.about_container .avatar:hover img {
	transform: scale(2) translateY(7%) rotate(360deg);
}

.about_container .bio {
	padding: 0;
	margin: 0;
	text-align: start;
	font-size: 22px;
	width: 90%;
	transition: all 0.2s ease;
}

.about_container .bio p {
	text-align: justify;
	margin: 15px;
	line-height: 1.3;
	transition: all 0.2s ease;
}

.about_container .bio p:not([hidden]):nth-child(4n + 1) {
	color: var(--paragraph-color-1);
}

.about_container .bio p:not([hidden]):nth-child(4n + 2) {
	color: var(--paragraph-color-2);
}

.about_container .bio p:not([hidden]):nth-child(4n + 3) {
	color: var(--paragraph-color-3);
}

.about_container .bio p:not([hidden]):nth-child(4n + 4) {
	color: var(--paragraph-color-4);
}

@media screen and (max-width: 720px) {
	.about_container {
		padding: 75px 10px 10px 10px;
		transition: all 0.2s ease;
	}
	.about_container .bio {
		width: 100%;
		font-size: 20px;
		transition: all 0.2s ease;
	}
}
