.bio-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 20px solid rgb(22, 27, 34);
  transition: all 1s ease;
}

.bio-container .avatar {
  height: 290px;
  width: 290px;
  overflow: hidden;
  position: relative;
  margin: 100px auto;
  border: none;
  border-radius: 50%;
  transition: all 1s ease;
}

.bio-container .avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio-container .bio {
  padding: 0;
  margin: 0;
  text-align: start;
  color: #fff;
  font-size: 20px;
  height: 100%;
  width: 70%;
  transition: all 1s ease;
}

.bio-container .bio h2,
h3 {
  margin: 20px;
  text-align: center;
  transition: all 1s ease;
}

.bio-container .bio p {
  text-align: justify;
  margin: 20px;
  line-height: 1.4;
  transition: all 1s ease;
}

@media screen and (max-width: 720px) {
  .bio-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
  }

  .bio-container .avatar {
    /* height: 290px;
    width: 290px; */
    margin: 30px auto;
    z-index: -1;
    transition: all 1s ease;
  }

  .bio-container .bio {
    font-size: 18px;
    width: 100%;
    transition: all 1s ease;
  }

  .bio-container .bio h2,
  h3 {
    margin: 10px;
    transition: all 1s ease;
  }

  .bio-container .bio p {
    margin: 20px;
    line-height: 1.2;
    transition: all 1s ease;
  }
}
