.footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 80px 20px;
	height: 100px;
	width: 100%;
	margin: 0;
	z-index: 1;
	background-color: rgb(22, 27, 34);
	color: #fff;
	text-transform: capitalize;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: #fff solid rgb(22, 27, 34);
}

.footer .logo {
	position: absolute;
	width: 100px;
	height: 100px;
	top: calc((100% - 100px) / 2);
	left: 20px;
	transition: all 0.2s ease;
}

.footer .logo img {
	width: 100%;
	height: 100%;
}

.footer .middle {
	position: relative;
	font-size: 20px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
}

.footer .middle .text a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #0d1117;
}

.footer .middle .text a:hover {
	background-color: #fff;
	color: #1b1818;
	border: 1px solid #000;
	transition: all 0.3s ease;
}

.footer .middle .text a:active {
	padding: 3px 8px;
	background-color: yellow;
	transition: all 0.3s ease;
}

.footer .middle .github {
	width: 40px;
	height: 40px;
	padding-left: 5px;
}

.footer .middle .github img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.footer .middle .github img:active {
	width: 35px;
	height: 35px;
}

.footer .scroll {
	position: absolute;
	right: 20px;
	top: calc((100% - 70px) / 2);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 70px;
	transition: all 0.2s ease;
}

.footer .scroll img {
	background-color: inherit;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	cursor: pointer;
	border: 3px solid #0d1117;
}

.footer .scroll img:hover {
	background-color: #0d1117;
}

.footer .scroll img:active {
	background-color: yellow;
	width: 90%;
	height: 90%;
	transition: all 0.3s ease;
}

@media screen and (max-width: 720px) {
	.footer .logo {
		left: 10px;
		width: 80px;
		height: 80px;
		transition: all 0.2s ease;
	}

	.footer .middle {
		font-size: 14px;
		padding-right: 0;
		margin: 20px 30px 30px 40px;
		flex-direction: column;
		transition: all 0.2s ease;
	}

	.footer .middle .text {
		width: 100%;
		margin-bottom: 15px;
		transition: all 0.2s ease;
	}

	.footer .middle .text a {
		font-size: 14px;
	}

	.footer .middle .github {
		padding: 1px;
	}

	.footer .scroll {
		right: 10px;
		top: calc((100% - 50px) / 2 - 10px);
		width: 60px;
		height: 60px;
		transition: all 0.2s ease;
	}
}
