@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  overflow-x: hidden;
  position: relative;
}

.container {
  padding: 75px 0 100px 0;
  color: #fff;
  position: relative;
}

@import url('./header.css');
@import url('./footer.css');
@import url('./home/bioSection.css');
@import url('./home/projectsSection.css');
@import url('./home/skillsSection.css');
@import url('./projects/projects.css');
